{% extends 'Voley/plantilla-back.html' %}

{% block header %}Agregar nuevo Torneo{% endblock %}

{% block css %}

{% endblock %}

{% block principal %}
<div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Agregar Nuevo Torneo
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">


    {% if errores %}
    <div class="alert alert-danger" role="alert">
      Corrija los siguientes errores:
        <ol>
          fecha: {{fecha}}
        {% for error in errores %}
            <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ol>
    </div>
    {% endif %}

<form class="form-horizontal" name=formul method="POST" action="{% url 'agregarTorneo' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="fechaInicio" class="col-sm-2 control-label">Fecha Inicio</label>
    <div class="col-sm-3">
    <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" placeholder="fechaInicio"  value="{{fechaInicio}}" />
    </div>


  </div>
  <div class="form-group">
    <label for="nombre" class="col-sm-2 control-label">Nombre Torneo</label>
    <div class="col-sm-3">
    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="nombre" required value="{{nombre}}" />
    </div>
  </div>
      <div class="form-group">
    <label for="telefono" class="col-sm-2 control-label">Telefono</label>
    <div class="col-sm-3">
    <input type="text" class="form-control" id="telefono" name="telefono" placeholder="telefono"  value="{{telefono}}" />
    </div>
  </div>
      <div class="form-group">
    <label for="direccion" class="col-sm-2 control-label">Direccion</label>
    <div class="col-sm-3">
    <input type="text" class="form-control" id="direccion" name="direccion" placeholder="direccion"  value="{{direccion}}" />
    </div>
  </div>
          <div class="form-group">
    <label for="localidad" class="col-sm-2 control-label">Localidad</label>
    <div class="col-sm-3">
    <input type="text" class="form-control" id="localidad" name="localidad" placeholder="localidad"  value="{{localidad}}" />
    </div>
  </div>

  <button type="submit" class="save btn btn-success">Guardar</button>

</form>


                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
{% endblock %}

{% block js %}


{% endblock %}

{% block js2 %}

{% endblock %}