{% extends 'Voley/plantilla-front.html' %}

{% block logo %}

{% endblock %}

{% block principal %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="section-heading">Programacion</h1>

            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">Panel heading</div>
                <div class="panel-body">
                    <p>...</p>
                </div>

                <!-- Table -->
                <table class="table">
                    ...
                </table>
            </div>
            <p class="lead section-lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

            <p class="section-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit,
                rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae
                delectus odit vel itaque amet.</p>
        </div>
    </div>
{% endblock %}